
body{
  background-color:#eae5e5;
  color:#4d4d4d;
}
ul li{
  float:left;
  margin-left: 15px;
  list-style-type: none;
}

.home-img{
  border-radius: 50%;
  width:350px;
  height: 350px;
  
}
h2{
  font-size: 40px;
  margin-left:90px;
  font-weight: bold;
  
}
p{
  font-size: 15px;
  margin-left:90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
 h1{
  font-size: 80px;
  font-weight: bold;
  line-height: normal;
  letter-spacing: normal;
}
span{
  font-size: 40px;
}
.des{
  margin-bottom: 50px;
}
.red{
  border-radius: 50%;
  width:130px;
  height: 130px;
  background: #e83556;
  display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
color: white;
margin-right: 10px;
cursor: pointer;
}
.red:hover{
  background: #e835569c
}
.blue{
  border-radius: 50%;
  width:130px;
  height: 130px;
  background: #61d0d4;
  display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
color: white;
margin-right: 10px;
cursor: pointer;
}
.blue:hover{
  background: #61d0d470
}
.yellow{
  border-radius: 50%;
  width:130px;
  height: 130px;
  background: #d1c926;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  cursor: pointer;
  margin-bottom: 15px;


}
.yellow a{
    color: white;
}
.yellow:hover{
  background: #d1c92666
}
.all{
  transform: translateX(7%);
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 100px;
  width: 100%;
  background-color: #e83556;
  color: white;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;

}
.fa {
  padding: 20px;
  font-size: 30px;
  height: 50px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
 margin-left: 30px;
}

.fa-facebook {
  background: #3B5998;
  color: white;
  
}
.fa-linkedin {
  background: #007bb5;
  color: white;
}
.fa-github {
  background: #353333;
  color: white;
}
.fa-google {
  background: red;
  color: white;
}
a {
  text-decoration: none !important;
}
.glyphicon-phone{
  padding: 20px;
  font-size: 30px;
  height: 50px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  background-color: white;
  margin: 5px 2px;
  border-radius: 50%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
 margin-left: 30px;}


.modal-backdrop.in{
  display: none;
}
.modal-open .modal{
  background-color: #3533339c;
}
.modal-content{
  margin-top: 200px;
  color: black;
}
.modal-content p{
  margin:0 !important;
  font-size:19px;
}
.size{
margin-left:10px;
  font-size:90px;
  margin-bottom: 50px;
}
.next{
  margin-top: 20px;
}
.devicon-express-original-wordmark{
  background-color: #464343;
  border-radius: 15px;
color:white;}
  
.intresits{
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 30px;
}

.hayat-img{
  width: 30px;
}
img{
  
  width: 436px;
  height: 200px;
}
hr{
  display: block;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
  border: 1px solid #e83556;
}
.nav{
  margin-top: 120px;
}